<!DOCTYPE html>
<html ng-app="main" ng-cloak>
<head>
    <title>Code Test</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="vendor/angular.min.js"></script>
</head>
<body ng-controller="searchCtrl" >
    <header>
        <h2>Calling Open Source API (github)</h2>
        <h3>Enter any username in textbox and click search to search github for entered username</h3>
    </header>
    
    
   <div class="middleContent row">
       <section id="sectn" class="col-sm-4">
            <div ng-include="searchTemplate"></div>
       </section>
    
       <aside id="sidebar" class="col-sm-8">
		   
                   <div ng-show="userNotFound">
                        <h2>No User Info Found</h2>
                    </div>
           <div class="row">
               <div class="col-sm-6" ng-hide="userNotFound">


                    <div ng-show="loaded">
                              
                              <div class="ghcontent">
                                 <div class="avi">
                                    <a href="{{ user.html_url }}" target="_blank">
                                    <img src="{{ user.avatar_url }}"  alt="{{ user.login }}"></a>
                                 </div>
                                  <h2 ng-bind="user.name" id="usrnm"> 
                                     <span class="smallname">
                                         (@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)
                                     </span>
                                  </h2>
                                   Followers: {{ user.followers }} - Following: {{ user.following }}
                                  <br>Repos: {{ user.public_repos }}</p>
                              </div>
                              
                              

                             <div class="repolist">
                                 <p ng-hide="reposFound">No repos!</p>
                                <div ng-show="reposFound">
                                    <p><strong>Repos List:</strong></p>
                                    <ul ng-repeat="repo in repos">
                                       <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></li>
                                    </ul>
                                 </div>
                             </div>
                    </div>
                   
               </div>
                <div id="toclr"></div>
               <div class="col-sm-6" ng-hide="userNotFound">
                    <div ng-show="isSortedData" class="repoShow">
                       <div ng-repeat="data in sortedData" class="sortedContainer">
                           <span ng-bind="data.key" class="leftSpan"></span><span> : {{data.name}}</span>
                       </div>
                    </div>
               </div>
            <div class="cl"></div>
           </div>
        </aside>
    </div>
    
    <div class="cl"></div>
    
    <footer>
  		<p>Developed by Jyotsna</p>
  		<p>{{regYear}} | For Northwestern Mutual Code Test</p>
  	</footer>
    <script src="app/main.js"></script>
    <script src="app/common/common.js"></script>
    <script src="app/common/APP_CONSTANTS.js"></script>
    <script src="app/search/search.js"></script>
    <script src="app/search/searchCtrl.js"></script>
    <script src="app/UserService/uService.js"></script>
    
</body>
</html>